<footer class="site-footer">
    <div class="inner">
         <section class="copyright">All content copyright &copy; <%- new Date().getFullYear() %> Alanna Munro &bull; Be nice, stealing is for jerks.</section>
    </div>
</footer>
